.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-panel{
    text-align: left;
    margin-bottom: 12px;
}

.timer{
    display: inline-block;
    margin: 0 1rem;
}

.restart{
    float: right;
    cursor: pointer;
    margin: 0 8px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-gap: 8px;
    background-color: blueviolet;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 6px 6px 26px;
}

.grid-container .card{
    height: 4rem;
    width: 4rem;
    margin: .2rem;
    background: orangered;
    font-size: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .card.open{
    transform:rotateY(0);
    background: lightblue;
    cursor: default;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.grid-container .card.show{
    font-size:40px;
    visibility: visible !important;
    opacity: 100 !important;
}
.grid-container .card.disabled{
    pointer-events: none;
    opacity: 0.9;
}

.grid-container .card.match{
    cursor: default;
    background: yellow;
    font-size: 40px;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;    
}

.grid-container .card.unmatched{
    cursor: default;
    background: red;
    font-size: 40px;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;    
}